/* ***** */ 

@-webkit-keyframes scaleLeft {
    0%   {transform:scaleY(0.1);}
    50%   {transform:scaleY(1.1);}
    100%   {transform:scaleY(1.0);}
}

@keyframes scaleLeft {
    0%   {transform:scaleY(0.1);}
    50%   {transform:scaleY(1.1);}
    100%   {transform:scaleY(1.0);}
}

/* ***** */ 

@-webkit-keyframes scaleRight {
    0%   {transform:scaleY(0.1);}
    50%   {transform:scaleY(1.1);}
    100%   {transform:scaleY(1.0);}
}

/* Standard syntax */
@keyframes scaleRight {
    0%   {transform:scaleY(0.1);}
    50%   {transform:scaleY(1.1);}
    100%   {transform:scaleY(1.0);}
}